<h3> Select a Table </h3>

<div id="floor">
  <div class="row">
    <%(1..16).each do |num| %>
      <div class ="two columns">
        <% party = @parties.find_by(table_number: num) %>
        <% if party %>
          <form action="/parties/<%= party.id %>" method="get">
            <button id="<%= party.status %>" class ="table" type="submit" name="party_id" value="<%= party.id %>"><%= num %></button>
          </form>
        <% else %>
          <form action="/parties/new" method="post">
            <button id="empty" class="table" type="submit" name="table_number" value="<%= num %>"><%= num %></button>
          </form>
        <% end %>
      </div>
      <% if num % 4 == 0 %>
        </div>
        <div class ="row">
      <%end%>
    <% end %>
  </div>
</div>
