
<h3 class = "tableshow"> Table Number <%= @party.table_number %> </h3>
<h5 class ="tableshow"><%= @party.num_in_party %> members in party</h5>
<h5 class ="tableshow"> Ticket Status: <%= @party.status%></h5>
************************************************************<br>
Add Some Grub
<br>
<div class = "order-input">
<form action="/../orders" method="post">

  <select name="order[party_id]">
      <option value="<%=@party.id %>">
        <%= @party.table_number %>
      </option>
  </select>

  <select name="order[item_id]">
    <% @items.each do |item| %>
      <option value="<%= item.id %>">
        <%= item.name %>
      </option>
    <% end %>
  </select>
  <input id="order-submit" class ="button" type="submit" value="GO!">

</form>
</div>
************************************************************
<br>

<% @orders.each do |order| %>
<p class ="tableshowelement">
   <%=order.item.name%>
    <form class ="tableshowelment" action="/orders/<%=order.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit"> Remove Order </button>
        </form>
 </p>
    <% end %>



<div id="reciept-open-modal">
<button class ="modal-style" >Reciept?</button>
  <div  class="modal" >
      <div class="reciept-modal-content">
        <span id="reciept-close-modal">Print</span>
        <div class="reciept-modal-body">
          <h3> THANKS FOR DINING </h3>

            <%total = 0 %>
          <% @orders.each do |order| %>
            <h5><%=order.item.name%> -- $<%=('%.2f' % (order.item.price))%></h5>
             <% total += order.item.price%>
          <%end%>
          ********************************************
              <h5>Your Total is: $<%=('%.2f' % (total))%></h5>
              <p>Tip if You're Hip! 10%: $<%=('%.2f' % (total * 0.1))%> | 15%: $<%=total * 0.15%>0 | 20%: $<%=total * 0.2%>0 </p>
        </div>
      </div>
    </div>
</div>

<br>

<form class = "link" action="/parties">
     <button type="submit" value="Back to Open Tickets">Back to Open Tickets </button>
 </form>


 <form class = "link" action="/">
      <button  type="submit" value="Home"> Home </button>
  </form>



  <form action="/parties/<%= @party.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit"> Close Ticket </button>
  </form>
