
<h3> Table Number <%= @party.table_number %> </h3>
<br>
<%= @party.num_in_party %> members in party
<br>
Ticket Status: <%= @party.status%>
<br>
<form action="/parties/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit"> Close Ticket </button>
</form>


<% @orders.each do |order| %>
<p>
   <%=order.item.name%>
    <form action="/orders/<%=order.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit"> Remove Order </button>
        </form>
 </p>
    <% end %>



<form action="/../orders" method="post">

  <select name="order[party_id]">
      <option value="<%=@party.id %>">
        <%= @party.table_number %>
      </option>
  </select>
<br>


  <select name="order[item_id]">

    <% @items.each do |item| %>

      <option value="<%= item.id %>">
        <%= item.name %>
      </option>
    <% end %>
  </select>
  <input class ="button" type="submit" value="Order Up!">

</form>



<form class = "link" action="/parties">
     <button type="submit" value="Back to Open Tickets">Back to Open Tickets </button>
 </form>


 <form class = "link" action="/">
      <button  type="submit" value="Home"> Home </button>
  </form>
