<h3 class="item-menu"> Make a Menu Edit </h3>


<div class ="row">

  <% @items.each_with_index do |item, index| %>
  <div class = "item-show six columns">
      <h3>  <%= item.name %> </h3>
        <h5> <%= item.sub_category%>   $<%=('%.2f' % (item.price))%> </h5>
        <p><%=item.description%>
        <form action="/items/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class = "remove-menu-item" type="submit"> X </button>
        </form>
        <p>
    </div>
  <% if (index+1)%2 == 0%>
 </div>
 <div class ="row">
  <%end%>
<%end%>
</div>

<form class = "link" action="/items/new">
     <input type="submit" value="Add New Item">
 </form>

 <form class = "link" action="/">
      <input type="submit" value="Home">
  </form>
